@mixin positionAb(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin visually-hidden(){
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

// variables 
$color-primary: rgb(255, 119, 0);
$color-black: #1c1c1b;
$color-white: #fff;

/* media */
@mixin mq($screen-width) {
    @if $screen-width == "1200" {
        /* desktop */
        @media screen and (max-width:1200px){ 
            @content;
        }
    }   
    @else if $screen-width == "1026" {
        /* tablet */
        @media screen and (max-width:1026px){
            @content;
        }
    } 
    @else if $screen-width == "980" {
        /* tablet */
        @media screen and (max-width:980px){
            @content;
        }
    }
    @else if $screen-width == "767" {
        /* mobile */
        @media screen and (max-width:767px){
            @content;
        }
    }
    @else if $screen-width == "600" {
        /* mobile */
        @media screen and (max-width:600px){
            @content;
        }
    }
    @else if $screen-width == "480" {
        /* mobile */
        @media screen and (max-width:480px){
            @content;
        }
    }
    @else if $screen-width == "380" {
        /* mobile */
        @media screen and (max-width:380px){
            @content;
        }
    }
        /* 최소크기 */
    @else if $screen-width == "320" {
        @media screen and (max-width:320px){
            @content;
        }
    }
}
