html {
    overflow: hidden;
}
.main {
    height: 100vh;
    background-color: $color-black;
    overflow: hidden;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 124rem;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;

        nav {
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                display: none;

                &:checked+label {
                    border: .1rem solid $color-white;
                    background-color: transparent;
                }
                &:checked~.bg {
                    transform: scale(80);
                    -webkit-transform: scale(80);
                    -moz-transform: scale(80);
                    -o-transform: scale(80);
                }
                &:checked~.menu {
                    opacity: 1;
                }
            }
            label {
                position: fixed;
                padding: 20rem;
                border-radius: 50%;
                background: {
                    image: url(../img/main-img-1.png);
                    position: center center;
                    size: cover;
                    color: $color-primary;
                };
                cursor: pointer;
                transition: padding .2s ease;
                animation: circle 10s linear alternate infinite;
                z-index: 1000;

                @include mq('980') {
                    padding: 15rem;
                }
                @include mq('980') {
                    padding: 10rem;
                }
                @include mq('480') {
                    padding: 8rem;
                }

                &::after {
                    content: 'click :)';
                    display: inline-block;
                    @include positionAb();
                    color: $color-black;
                    font : {
                        size: 2.5rem;
                        style: italic;
                    }
                    transition: font-size .2s ease;
                    -webkit-transition:  font-size .2s ease;
                    -moz-transition:  font-size .2s ease;
                    -o-transition:  font-size .2s ease;

                    @include mq('980') {
                       font-size: 1.5rem;
                    }
                }
            }
            .bg {
                position: fixed;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform:translateY(-50%);
                -ms-transform:translateY(-50%);
                -moz-transform:translateY(-50%);
                -o-transform:translateY(-50%);
                width: 8rem;
                height: 8rem;
                border-radius: 8rem;
                background-image: radial-gradient($color-primary, $color-white);
                transition: transform .7s ease-in;
                -webkit-transition: transform .7s ease-in;
                -moz-transition: transform .7s ease-in;
                -o-transition: transform .7s ease-in;
                z-index: 98;
            }
            .menu {
                position: fixed;
                left: 20%;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform:translateY(-50%);
                -ms-transform:translateY(-50%);
                -moz-transform:translateY(-50%);
                -o-transform:translateY(-50%);
                transition: left .2s ease;
                -webkit-transition: left .2s ease;
                -moz-transition: left .2s ease;
                -o-transition: left .2s ease;
                opacity: 0;
                z-index: 100;

                @include mq('1200') {
                    left: 15%;
                }
                @include mq('980') {
                    left: 10%;
                }
                @include mq('480') {
                    left: 5%;
                }
                @include mq('480') {
                    left: 4%;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    text-transform: uppercase;
                    @include mq('480') {
                        gap: 2rem;
                    }
                    li {
                        &:hover {
                                animation: letter 1s ease-in alternate infinite;
                            a {
                                text-decoration: underline;
                            }
                        }
                        a {
                            font-size: 4rem;
                            transition: font-size .2s ease;
                            -webkit-transition:  font-size .2s ease;
                            -moz-transition:  font-size .2s ease;
                            -o-transition:  font-size .2s ease;

                            @include mq('1200') {
                                font-size: 3rem;
                            }
                            @include mq('980') {
                                font-size: 2rem;
                            }
                            @include mq('480') {
                                font-size: 1.8rem;
                            }
                            @include mq('380') {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}