@import 'abstract';

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            position: relative;
            transform: translateY(-30%);
            -webkit-transform: translateY(-30%);
            -moz-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
            -o-transform: translateY(-30%);
            margin: 0 2rem;
            font-family: 'KCC-Ganpan';
            text-align: center;
            opacity: 0;
            transition: opacity 1s ease-in, transform 1s ease-in;
            -webkit-transition: opacity 1s ease-in, transform 1s ease-in;
            -moz-transition: opacity 1s ease-in, transform 1s ease-in;
            -o-transition: opacity 1s ease-in, transform 1s ease-in;

            @include mq('767') {
                margin: 0 1rem;
            }
            @include mq('767') {
                margin: 0 .5rem;
            }

            &:hover {
                a {
                    font-size: 3.5rem;

                    @include mq('1200') {
                        font-size: 2.2rem;
                    }
                    @include mq('767') {
                        font-size: 1.5rem;
                    }
                }
            }
            a {
                line-height: 25rem;
                width: 25rem;
                height: 25rem;
                border-radius: 50%;
                color: $color-white;
                font-size: 3rem;
                text-transform: uppercase;
                background-color: $color-primary;
                transition: .1s ease-in;
                -webkit-transition: .1s ease-in;
                -moz-transition: .1s ease-in;
                -o-transition: .1s ease-in;
                z-index: 5;
                    
                @include mq('1200') {
                    line-height: 20rem;
                    width: 20rem;
                    height: 20rem;
                    font-size: 2rem;
                }
                @include mq('767') {
                    line-height: 10rem;
                    width: 10rem;
                    height: 10rem;
                    font-size: 1.4rem;
                }
                @include mq('480') {
                    line-height: 8rem;
                    width: 8rem;
                    height: 8rem;
                    font-size: 1.2rem;
                }
                    
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    top: -6rem;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    width: 8rem;
                    height: 9rem;
                    background: {
                        image: url(../img/menu-img-1.png);
                        position: center center;
                        size: contain; 
                    };

                    @include mq('767') {
                        top: -3rem;
                        width: 4rem;
                        height: 5rem;
                    }
                }
            }
        }
    }
}